.container {
    width: 300px;
    max-height: 50vh;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y :auto;
}

.card {
    width: 100%;
    height: 60px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.delete {
    width:15px;
    height: 13px;
    border-radius: 50%;
    background-color:  red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: -7px;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
